
NEWSBOT_POGO_ENABLED=True
NEWSBOT_POGO_HOOK=https://discordapp.com/api/webhooks/...

NEWSBOT_PSO2_ENABLED=True
NEWSBOT_PSO2_HOOK=https://discordapp.com/api/webhooks/...

NEWSBOT_FFXIV_ALL=False
NEWSBOT_FFXIV_TOPICS=True
NEWSBOT_FFXIV_NOTICES=False
NEWSBOT_FFXIV_MAINTENANCE=False
NEWSBOT_FFXIV_UPDATES=False
NEWSBOT_FFXIV_STATUS=False
NEWSBOT_FFXIV_HOOK=https://discordapp.com/api/webhooks/...

NEWSBOT_REDDIT_SUB_0=aww
NEWSBOT_REDDIT_HOOK_0=https://discordapp.com/api/webhooks/...
NEWSBOT_REDDIT_SUB_1=python
NEWSBOT_REDDIT_HOOK_1=https://discordapp.com/api/webhooks/...

NEWSBOT_YOUTUBE_URL_0=https://www.youtube.com/user/gamegrumps
NEWSBOT_YOUTUBE_HOOK_0=https://discordapp.com/api/webhooks...
NEWSBOT_YOUTUBE_NAME_0=GameGrumps

NEWSBOT_INSTAGRAM_USER_NAME_0=play_pso2
NEWSBOT_INSTAGRAM_USER_HOOK_0=https://discordapp.com/api/webhooks/...

NEWSBOT_INSTAGRAM_TAG_NAME_0=corgi
NEWSBOT_INSTAGRAM_TAG_HOOK_0=https://discordapp.com/api/webhooks/...

NEWSBOT_TWITTER_API_KEY=
NEWSBOT_TWITTER_API_KEY_SECRET=

NEWSBOT_TWITTER_USER_NAME_0=dog_rates
NEWSBOT_TWITTER_USER_HOOK_0=https://discordapp.com/api/webhooks/...
NEWSBOT_TWITTER_USER_NAME_1=GenshinImpact
NEWSBOT_TWITTER_USER_HOOK_1=https://discordapp.com/api/webhooks/...

NEWSBOT_TWITTER_TAG_NAME_0=pso2global
NEWSBOT_TWITTER_TAG_HOOK_0=https://discordapp.com/api/webhooks/...
