
NEWSBOT_POGO_ENABLED=True
NEWSBOT_POGO_HOOK=

NEWSBOT_PSO2_ENABLED=True
NEWSBOT_PSO2_HOOK=

NEWSBOT_FFXIV_ALL=False
NEWSBOT_FFXIV_TOPICS=True
NEWSBOT_FFXIV_NOTICES=False
NEWSBOT_FFXIV_MAINTENANCE=False
NEWSBOT_FFXIV_UPDATES=False
NEWSBOT_FFXIV_STATUS=False
NEWSBOT_FFXIV_HOOK=

NEWSBOT_LOGGING_TOFILE=True